.DS_Store
.vscode/
01-csLogica/tp1-avanced.cs/obj/Debug/net10.0/tp1-avanced.cs.AssemblyInfo.cs
01-csLogica/tp1-avanced.cs/obj/Debug/net10.0/tp1-avanced.cs.AssemblyInfoInputs.cache
01-csLogica/tp1-basic.cs/obj/Debug/net10.0/tp1.cs.AssemblyInfo.cs
01-csLogica/tp1-basic.cs/obj/Debug/net10.0/tp1.cs.AssemblyInfoInputs.cache
